#myMusicBtn,
#popularBtn,
#recomendBtn,
#friendsBtn  {
	color: #ffffff;
	font-weight: 600;
	padding-left: 10px;
	outline: none;
	text-align: left;
}
/* #myMusicBtn:focus {
	background-color: #000000;
	color: #000000;

} */
#popularBtn:focus {
	background-color: rgb(175, 9, 23);
}

#inner {
	background-color: #363636;
}
customLabel[class_name="duration"] {
	qproperty-alignment: AlignRight;
	font-size: 14px;
}
customLabel[class_name="list"] {
	margin-top: 0px;
	padding: 5px 10px;
	font-size: 20px;
	line-height: 20px;
	font-family: "Verdana";
	width: 100%;
	height: 50px;
	position: relative;
}

customLabel[class_name="list-of-users"] {
	margin-top: 0px;
	padding: 0px;
	font-size: 60px;
	/*line-height: 70px;*/
	font-family: "Verdana";
	width: 25%;
	height:70px;
	position: relative;
}
customLabel[class_name="username"] {
	margin-left: 5px;
}

PushButton:focus {
	outline: none;
}
#playpause:focus,
#playprev:focus,
#playnext:focus,
#broadcast:focus,
#similar:focus,
#playerPosition:focus,
#volumeSlider:focus {
	outline: 0px;
}
#playpause,
#playprev,
#playnext,
#broadcast,
#similar,
#playerPosition,
#volumeSlider {
	background-color: transparent;
}
 QSlider::groove:horizontal {
     border: none;
     height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(30,30,30,0.8), stop:1 rgba(60,60,60,0.8));
     margin: 2px 0;
 }

 QSlider::handle:horizontal {
     /*background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgba(44,124,145,0.8), stop:1 rgba(78,183,212,0.8));*/
     width: 10px;
     height: 6px;
     border: none;
     margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
     border-radius: 3px;
 }

#playpause {
	border-image: url(:/images/play.png) 0 0 0 0 stretch stretch;
	background: none;
}
#playprev {
	border-image: url(:/images/prev.png) 0 0 0 0 stretch stretch;
}
#playnext {
	border-image: url(:/images/next.png) 0 0 0 0 stretch stretch;
}
#similar {
	border-image: url(:/images/headphones.png) 0 0 0 0 stretch stretch;
}
#settingsOpen {
	border-image: url(:/images/cog.png) 0 0 0 0 stretch stretch;
}
#search {
	color: #8c8c8c;
	background: #292C30;
	border: none;
	padding: 3px 10px;
	font-style: italic;
}
#textDisplay {
	width: 200px;
	height: 200px;
	background: rgba(0,0,0,.7);
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	qproperty-alignment: AlignCenter;
	border-radius: 15px;
}