<style>
	#facebookG {
		width: 128px;
		height: 94px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	body {
		background: #363636;
	}

	.facebook_blockG{
	background-color:#387BE0;
	border:3px solid #387BE0;
	float:left;
	height:91px;
	margin-left:7px;
	width:24px;
	opacity:0.1;
	-moz-animation-name:bounceG;
	-moz-animation-duration:1.2s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(0.7);
	-webkit-animation-name:bounceG;
	-webkit-animation-duration:1.2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(0.7);
	-ms-animation-name:bounceG;
	-ms-animation-duration:1.2s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(0.7);
	-o-animation-name:bounceG;
	-o-animation-duration:1.2s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(0.7);
	animation-name:bounceG;
	animation-duration:1.2s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(0.7);
	}

	#blockG_1{
	-moz-animation-delay:0.36s;
	-webkit-animation-delay:0.36s;
	-ms-animation-delay:0.36s;
	-o-animation-delay:0.36s;
	animation-delay:0.36s;
	}

	#blockG_2{
	-moz-animation-delay:0.48s;
	-webkit-animation-delay:0.48s;
	-ms-animation-delay:0.48s;
	-o-animation-delay:0.48s;
	animation-delay:0.48s;
	}

	#blockG_3{
	-moz-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-o-animation-delay:0.6s;
	animation-delay:0.6s;
	}

	@-moz-keyframes bounceG{
	0%{
	-moz-transform:scale(1.2);
	opacity:1}

	100%{
	-moz-transform:scale(0.7);
	opacity:0.1}

	}

	@-webkit-keyframes bounceG{
	0%{
	-webkit-transform:scale(1.2);
	opacity:1}

	100%{
	-webkit-transform:scale(0.7);
	opacity:0.1}

	}

	@-ms-keyframes bounceG{
	0%{
	-ms-transform:scale(1.2);
	opacity:1}

	100%{
	-ms-transform:scale(0.7);
	opacity:0.1}

	}

	@-o-keyframes bounceG{
	0%{
	-o-transform:scale(1.2);
	opacity:1}

	100%{
	-o-transform:scale(0.7);
	opacity:0.1}

	}

	@keyframes bounceG{
	0%{
	transform:scale(1.2);
	opacity:1}

	100%{
	transform:scale(0.7);
	opacity:0.1}

	}

</style>
<div id="facebookG">
	<div id="blockG_1" class="facebook_blockG">
	</div>
	<div id="blockG_2" class="facebook_blockG">
	</div>
	<div id="blockG_3" class="facebook_blockG">
	</div>
</div>